@charset "utf-8";
/* CSS Document */

/************************************************************************
*   
*   G L O B A L  C S S
*   
*   Author:  Vartro
*   Date:    19 June 2010
*   Web:     http://www.vartro.com
*   Email:   hello@vartro.com
*   Version: 2.3
* 
*************************************************************************/

/*-----------------------------------------------------------------------
@import
------------------------------------------------------------------------*/

@import url(reset.css);

/*-----------------------------------------------------------------------
Control Panel
------------------------------------------------------------------------*/

.clear{
	clear:both;
}

.left{
	float:left;
}

.right{
	float:right;
}

.none{
	display:none;
}

/*-----------------------------------------------------------------------
Fonts
------------------------------------------------------------------------*/

a{
	color:#df4e15;
	text-decoration:none;
}

h1{
	width:124px;
	height:29px;
	position:relative;
	float:left;
	background-image:url(../images/ge-logo-vartro.png);
	background-repeat:no-repeat;
}

h1 a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

h1 a span{
	display:none;
}

h2{
	font-size:16px;
	color:#494949;
}

h2.in-splash-title{
	font-size:18px;
	color:#ffffff;
	background-color:inherit;
}

h2.bl-title-search{
	font-size:16px;
	color:#494949;
	margin-bottom:26px;
	border-bottom:1px solid #c8d0d2;
	padding-bottom:26px;
	width:100%;
}

h2.sp-title-style, h2.bl-title-style{
	font-size:36px;
	color:#ffffff;
	background-color:inherit;
}

h2.bl-title, h2.bl-title a{
	font-size:28px;
	color:#494949;
	text-decoration:none;
	background:none;
}

h2.bl-title a:hover{
	color:#494949;
	background:none;
}

h3{
	font-size:16px;
	color:#494949;
}

.sp-content-rhs h3{
	font-size:28px;
	color:#494949;
	padding-bottom:20px;
}

.sp-content-rhs h4{
	font-size:16px;
	color:#5c789b;
	padding-bottom:12px;
	background-color:inherit;
}

.subintro, .sp-content-rhs-generic .subintro{
	padding-bottom:46px;
}

h4{
	font-size:16px;
	font-weight:bold;
	color:#b7b7b7
}

h5{
	font-size:12px;
	font-weight:bold;
}

.sp-he-terms{
	font-size:11px;
	color:#969797;
	line-height:16px;
}

.bl-content-rhs h3{
	font-size:15px;
	line-height:24px;
	padding-bottom:36px;
	color:#646f73;
	margin-top:-16px;
}

/*-----------------------------------------------------------------------
Global
------------------------------------------------------------------------*/

body, html{
	background-color:#121213;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	color:#646f73;
}

#in-container{
	width:100%;
	height:auto;
	background-image:url(../images/in-background-container.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

#sp-container{
	width:100%;
	height:auto;
	background-image:url(../images/sp-background-container.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

#bl-container{
	width:100%;
	height:auto;
	background-image:url(../images/bl-background-container.gif);
	background-repeat:repeat-y;
	background-position:top center;
}

#header-frame{
	width:100%;
	height:54px;
	margin:0 auto;
	background-color:#161619;
}

#header{
	width:960px;
	height:54px;
	margin:0 auto;
	background-image:url(../images/ge-navigation-background.gif);
	background-repeat:no-repeat;
	background-position:top right;
}

.logo{
	width:124px;
	height:29px;
	position:relative;
	float:left;
	top:11px;
}

.navigation{
	width:416px;
	height:24px;
	position:relative;
	float:right;
	top:15px;
}

#in-splash-frame{
	width:100%;
	height:328px;
	margin:0 auto;
	background-image:url(../images/in-background-splash.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#040118;
	overflow:hidden;
}

#in-splash-control-frame, #in-splash{
	width:960px;
	height:328px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

#in-splash-services-frame, .in-splash-services, .in-splash-rotate{
	width:960px;
	height:328px;
	position:relative;
	float:left;
	z-index:1;
	overflow:hidden;
}

.in-splash-image-web{
	width:364px;
	height:328px;
	position:relative;
	float:right;
	background-image:url(../images/in-splash-website.jpg);
}

.in-splash-image-iphone{
	width:364px;
	height:328px;
	position:relative;
	float:right;
	background-image:url(../images/in-splash-iphone.jpg);
}

.in-splash-image-mobile{
	width:364px;
	height:328px;
	position:relative;
	float:right;
	background-image:url(../images/in-splash-mobile.jpg);
}

.in-splash-image-web span, .in-splash-image-iphone span, .in-splash-image-mobile span{
	display:none;
}

.in-splash-text{
	width:556px;
	height:150px;
	position:relative;
	float:left;
	padding-top:178px;
	padding-right:40px;
}

.in-splash-text p{
	color:#f7f7f7;
	padding-top:10px;
	text-shadow:0px 1px 0px #32222e;
}

.splash-control{
	width:63px;
	height:15px;
	position:absolute;
	bottom:16px;
	right:0px;
	z-index:2;
	text-align:center;
}

.splash-control a, .splash-control a:hover{
	width:14px;
	height:15px;
	position:relative;
	float:left;
	background-image:url(../images/in-splash-paginate.gif);
	background-repeat:no-repeat;
	background-position:-21px 0px;
	margin-left:7px;
}

.splash-control a.activeSlide{
	background-image:url(../images/in-splash-paginate.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
}

.in-splash-paginate-no{
	list-style-type:none;
	float:left;
}

#sp-title-frame{
	width:100%;
	height:129px;
	margin:0 auto;
	background-image:url(../images/sp-background-title.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#040118;
	overflow:hidden;
}

#bl-title-frame{
	width:100%;
	height:129px;
	margin:0 auto;
	background-image:url(../images/bl-background-title.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#040118;
	overflow:hidden;
}

#sp-title, #bl-title{
	width:960px;
	height:129px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

.sp-title-text, .bl-title-text{
	width:544px;
	height:auto;
	position:relative;
	float:left;
	margin-top:46px;
}

.sp-title-btn{
	width:286px;
	height:33px;
	position:relative;
	margin-top:48px;
	float:right;
}

#in-bar-frame{
	width:100%;
	height:72px;
	margin:0 auto;
	border-top:1px solid #343538;
	background-image:url(../images/in-background-bar.gif);
	background-repeat:repeat-x;
}

#in-bar{
	width:960px;
	height:72px;
	margin:0 auto;
}

.in-bar-buttons{
	width:314px;
	height:53px;
	position:relative;
	float:left;
	padding-top:19px;
}

.in-bar-intro{
	width:514px;
	height:58px;
	position:relative;
	float:right;
	padding:14px 132px 0px 0px;
	text-align:left;
}

.in-bar-intro p{
	color:#707283;
	line-height:20px;
	text-shadow:0px 1px 0px #000000;
}

#in-content-frame{
	width:100%;
	height:auto;
	margin:0 auto;
}

#sp-content-frame{
	width:100%;
	height:auto;
	margin:0 auto;
}

#sp-pr-or-content-frame{
	width:100%;
	height:auto;
	margin:0 auto;
	background-image:url(../images/sp-pr-or-background-container.gif);
	background-repeat:no-repeat;
	background-position:top center;
}

#bl-content-frame{
	width:100%;
	height:auto;
	margin:0 auto;
}

#in-content{
	width:960px;
	height:auto;
	margin:0 auto;
	background-image:url(../images/in-background-content.gif);
	background-position:top center;
	background-repeat:repeat-y;
}

#sp-content{
	width:960px;
	height:auto;
	margin:0 auto;
	background-image:url(../images/sp-background-content.gif);
	background-position:top center;
	background-repeat:repeat-y;
}

#bl-content{
	width:960px;
	height:auto;
	margin:0 auto;
	background-image:url(../images/bl-background-content.gif);
	background-position:top center;
	background-repeat:repeat-y;
}

.in-content-lhs{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	padding:28px 24px 50px 0px;
}

.sp-content-lhs, .bl-content-lhs{
	width:310px;
	height:auto;
	position:relative;
	float:left;
	padding:28px 0px 50px 0px;
}

.sp-content-splash{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	padding-bottom:44px;
}

.sp-re-splash-text-01{
	width:230px;
	height:64px;
	position:absolute;
	left: 67px;
	top: 74px;
	color:#ffffff;
	overflow:hidden;
	background-color:inherit;
}

.sp-re-splash-text-02{
	width:230px;
	height:64px;
	position:absolute;
	left: 67px;
	top: 160px;
	color:#ffffff;
	overflow:hidden;
	background-color:inherit;
}

.sp-ov-splash-text-01{
	width:364px;
	height:32px;
	position:absolute;
	left:236px;
	top:0px;
	overflow:hidden;
	background-image:url(../images/sp-ov-speech.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:22px;
	line-height:normal;
	padding-top:4px;
}

.sp-content-text{
	width:626px;
	height:auto;
	position:relative;
	float:left;
}

.in-content-lhs a:hover{
	color:#df4e15;
	background-image:url(../images/ge-global-link-dotted.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
}

.in-intro li a:hover{
	background-image:none;
}

.in-intro li p a:hover{
	color:#df4e15;
	background-image:url(../images/ge-global-link-dotted.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
}

.in-content-rhs{
	width:291px;
	height:auto;
	position:relative;
	float:left;
	padding:28px 0px 50px 19px;
}

.sp-content-rhs, .bl-content-rhs{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	padding:28px 0px 50px 24px;
}

.sp-pr-or-content{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	padding:0px 0px 50px 24px;
	background-image:url(../images/sp-pr-or-background-content.gif);
	background-repeat:repeat-x;
	background-position:top left;
}

.sp-pr-or-title{
	width:626px;
	height:33px;
	position:relative;
	float:left;
	padding-top:15px;
	margin-bottom:32px;
}

.sp-pr-or-title h2{
	font-size:20px;
	color:#5c789b;
	background-color:inherit;
}

.sp-pr-or-content-lhs{
	width:428px;
	height:auto;
	position:relative;
	float:left;
}

.sp-pr-or-blue-bar{
	width:380px;
	height:29px;
	border-bottom:1px solid #4c6380;
	background-color:#5c789b;
	position:relative;
	float:left;
	padding-top:16px;
	padding-left:48px;
}

.sp-pr-or-blue-bar-icon{
	width:24px;
	height:24px;
	position:absolute;
	float:left;
	background-image:url(../images/sp-pr-or-button-set.gif);
	background-repeat:no-repeat;
	top:11px;
	left:12px;
}

.sp-pr-or-blue-bar-01{
	background-position:-33px -61px;
}

.sp-pr-or-blue-bar-02{
	background-position:-65px -61px;
}

.sp-pr-or-blue-bar-03{
	background-position:-97px -61px;
}

.sp-pr-or-blue-bar h2{
	color:#ffffff;
	background-color:inherit;
}

.sp-pr-or-content-rhs{
	width:170px;
	height:auto;
	position:relative;
	float:right;
}

.sp-content-rhs a:hover, .bl-content-rhs a:hover{
	color:#df4e15;
	background-image:url(../images/ge-global-link-dotted.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
}

.or-header{
	width:170px;
	height:38px;
	position:relative;
	float:left;
	background-image:url(../images/sp-pr-or-button-set.gif);
	background-repeat:no-repeat;
	background-position:-8px -8px;
}

.or-items-panel{
	width:170px;
	height:auto;
	position:relative;
	float:left;
	background-color:#ffffff;
}

.or-total{
	width:156px;
	height:44px;
	position:relative;
	float:left;
	background-color:#78644f;
	padding:10px 14px 0px 0px;
	text-align:right;
}

.or-total p strong{
	font-size:18px;
	color:#ffffff;
	background-color:inherit;
}

.or-total p{
	font-size:9px;
	color:#a8947f;
	text-transform:uppercase;
	line-height:normal;
}

.or-date{
	width:142px;
	height:48px;
	position:relative;
	float:left;
	background-image:url(../images/sp-pr-or-button-set.gif);
	background-repeat:no-repeat;
	background-position:-8px -194px;
	padding:16px 14px 0px 14px;
	padding-bottom:50px;
}

.or-date p strong{
	color:#78644f;
	background-color:inherit;
}

.or-date p{
	font-size:10px;
	text-transform:uppercase;
	line-height:16px;
}

.or-items li{
	width:142px;
	height:29px;
	position:relative;
	float:left;
	list-style-type:none;
	border-bottom:1px solid #d1c9c0;
	padding:6px 14px 0px 14px;
}

.or-items li p{
	text-transform:uppercase;
	font-size:10px;
}

.or-items li p strong{
	color:#78644f;
	background-color:inherit;
}

.bl-search{
	width:310px;
	height:55px;
	background-color:#3a3d40;
	position:relative;
	float:left;
	margin-bottom:28px;
}

.bl-search-wrap{
	width:277px;
	height:30px;
	position:absolute;
	top:14px;
	left:14px;
}

.bl-post-details{
	width:626px;
	height:20px;
	position:relative;
	float:left;
	margin-top:34px;
	text-align:right;
	text-transform:uppercase;
	font-size:11px;
	color:#9ca5a9;
	overflow:hidden;
}

.bl-post-social{
	width:168px;
	height:16px;
	position:relative;
	float:right;
	overflow:hidden;
}

.bl-post-details-top{
	width:626px;
	height:20px;
	position:relative;
	float:left;
	margin-top:24px;
	text-align:right;
	text-transform:uppercase;
	font-size:11px;
	color:#9ca5a9;
	overflow:hidden;
}

.bl-paginate{
	width:602px;
	height:27px;
	position:relative;
	float:left;
	background-image:url(../images/bl-button-set.gif);
	background-repeat:no-repeat;
	background-position:-14px -120px;
	overflow:hidden;
	font-size:11px;
	text-transform:uppercase;
	padding:5px 12px 0px 12px;
}

.bl-paginate a:hover{
	color:#ffffff;
	text-decoration:none;
	background-image:none;
	background-color:inherit;
}

.bl-avatar{
	width:82px;
	height:auto;
	position:relative;
	float:left;
}

.bl-post-main li .bl-avatar p{
	font-size:11px;
	padding-bottom:0px;
	line-height:normal;
	color:#9ca5a9;
}

.bl-message{
	width:486px;
	height:auto;
	position:relative;
	float:left;
	padding-left:58px;
	z-index:1;
}

.bl-message-addcomment{
	width:438px;
	height:130px;
	position:relative;
	float:right;
	background-image:url(../images/bl-button-set.gif);
	background-repeat:no-repeat;
	background-position:-14px -164px;
	padding:24px 24px 24px 64px;
}

.bl-message-speech{
	width:41px;
	height:30px;
	position:absolute;
	top:18px;
	left:-40px;
	background-image:url(../images/bl-button-set.gif);
	background-position:-14px -188px;
	background-repeat:no-repeat;
	overflow:hidden;
	z-index:2;
}

.b1-message-top{
	width:486px;
	height:7px;
	position:relative;
	float:left;
	background-image:url(../images/bl-button-set.gif);
	background-position:-54px -164px;
	background-repeat:no-repeat;
	overflow:hidden;
}

.b1-message-middle{
	width:438px;
	height:auto;
	min-height:74px;
	position:relative;
	float:left;
	background-image:url(../images/bl-comment-background.gif);
	background-repeat:repeat-y;
	padding:12px 24px 17px 24px;
	z-index:1;
}

.bl-post-main li .b1-message-middle p{
	padding-bottom:20px;
	color:#47484c;
}

.b1-message-bottom{
	width:486px;
	height:7px;
	position:relative;
	float:left;
	background-image:url(../images/bl-button-set.gif);
	background-position:-54px -335px;
	background-repeat:no-repeat;
	overflow:hidden;
}

#footer-frame{
	width:100%;
	height:294px;
	margin:0 auto;
	border-top:1px solid #000000;
	background-color:#121213;
}

#footer{
	width:960px;
	height:270px;
	margin:0 auto;
	background-image:url(../images/ge-footer-background.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding-top:24px;
}

#footer a{
	color:#b7b7b7;
	text-decoration:none;
}

#footer a:hover{
	color:#ffffff;
	background-image:none;
	background-color:inherit;
}

.ge-footer-content{
	width:960px;
	height:203px;
	position:relative;
	float:left;
	overflow:hidden;
}

#copyright{
	width:960px;
	height:46px;
	position:relative;
	float:left;
	padding-top:20px;
	color:#707283;
	font-size:11px;
	line-height:none;
}

.ge-paymethod{
	width:220px;
	height:35px;
	position:relative;
	float:right;
	padding-top:11px;
}

.ge-paymethod p{
	float:left;
	line-height:none;
}

.ge-paymethod img{
	float:right;
}

.sp-intro-rhs{
	width:291px;
	height:auto;
	position:relative;
	float:right;
	overflow:hidden;
}

.sp-intro-lhs{
	width:291px;
	height:auto;
	position:relative;
	float:left;
	overflow:hidden;
}

.sp-he-he-header{
	width:626px;
	border-bottom:1px solid #c8d0d2;
	padding-bottom:10px;
	margin-bottom:20px;
	position:relative;
	float:left;
}

.sp-he-he-paginate-frame{
	position:absolute;
	right:0px;
	top:-10px;
}

.sp-he-he-title{
	float:left;
	position:relative;
}

.sp-pr-or-form-frame input{
	width:412px;
	height:23px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	padding:7px 7px 0px 7px;
}

.sp-pr-or-form-frame input.error,
.sp-he-form-frame input.error,
.sp-he-form-frame textarea.error{
	background: #eeb8a2;
	border-top:1px solid #bc9180;
	border-right:1px solid #e2af99;
	border-bottom:1px solid #ededed;
	border-left:1px solid #e2af99;
}

.sp-pr-or-su-panel{
	width:624px;
	height:auto;
	position:relative;
	float:left;
	background-color:#eeeeee;
	border-right:1px solid #d8d8d8;
	border-left:1px solid #d8d8d8;
}

.sp-pr-or-su-header{
	width:556px;
	height:64px;
	position:relative;
	float:left;
	margin-top:30px;
	border-top:1px solid #d8d8d8;
	border-right:1px solid #d8d8d8;
	border-bottom:1px solid #edb6ab;
	border-left:1px solid #d8d8d8;
	background-color:#eeeeee;
	padding:0px 34px 0px 34px;
}

.sp-pr-or-su-title{
	width:430px;
	height:38px;
	padding-top:26px;
	overflow:hidden;
	position:relative;
	float:left;
}

.sp-pr-or-su-logo{
	width:83px;
	height:20px;
	position:relative;
	float:right;
	margin-top:22px;
}

.sp-pr-or-su-footer{
	width:626px;
	height:70px;
	position:relative;
	float:left;
	background-image:url(../images/sp-pr-or-su-footer.gif);
	background-repeat:no-repeat;
	background-position:top center;
	margin-bottom:20px;
}

.sp-pr-or-su-list li{
	list-style-type:none;
	width:556px;
	height:30px;
	border-bottom:1px solid #dbdbdb;
	padding:0px 34px 0px 34px;
}

li.sp-pr-or-su-list-ai{
	height:auto;
}

li.sp-pr-or-su-list-ai .sp-pr-or-su-item{
	line-height:22px;
	padding:10px 0px 10px 0px;
}

.sp-pr-or-su-item{
	float:left;
	line-height:30px;
	color:#5c789b;
	background-color:inherit;
}

.sp-pr-or-su-item p{
	line-height:22px;
	padding-top:20px;
}

.sp-pr-or-su-item strong{
	font-weight:normal;
	color:#47484c;
}

.sp-pr-or-su-price{
	float:right;
	line-height:30px;
	font-weight:bold;
	color:#47484c;
}

.totaltext{
	font-size:14px;
	font-weight:bold;
	color:#5c789b;
	background-color:inherit;
}

.sp-pr-or-su-button{
	width:616px;
	height:36px;
	position:relative;
	float:left;
	border:1px solid #c5c5c5;
	background-color:#cfd1d4;
	margin-bottom:20px;
	padding:8px 8px 0px 0px;
}

.sp-pr-or-su-form-frame button{
	width:119px;
	height:29px;
	background-image:url(../images/sp-button-set.gif);
	background-repeat:no-repeat;
	background-position:-257px -6px;
  	cursor:pointer;
  	float:right;
	position:relative;
	overflow:hidden;
}

.sp-pr-or-su-form-frame button:hover{
	background-image:url(../images/sp-button-set.gif);
	background-position:-257px -35px;
}

.sp-pr-or-su-form-frame button:active{
	background-position:-257px -64px;
}

.print{
	display:none;
}

input.sp-pr-or-su-input{
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	font-size:10px;
	color:#646f73;
	text-transform:uppercase;
	text-align:right;
	width:50px;
	line-height:normal;
	padding:0px;
	padding-top:0px;
	border:none;
}

input.sp-pr-or-su-total{
	background-color:transparent;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	text-align:right;
	width:142px;
	padding:0px;
	border:none;
}

input.sp-pr-or-su-date{
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	float:right;
	font-size:10px;
	color:#646f73;
	text-transform:uppercase;
	width:142px;
	line-height:normal;
	padding:0px;
	border:none;
}

.ge-signup-success, .sp-he-success{
	width:191px;
	height:21px;
	position:relative;
	float:left;
	background-image:url(../images/ge-signup-success.gif);
	background-repeat:no-repeat;
	background-position:top left;
	padding:7px 0px 0px 100px;
	color:#4ba982;
	font-weight:bold;
	line-height:normal;
	margin-top:14px;
}

.sp-he-success{
	margin-top:0px;
	margin-bottom:8px;
}

/*-----------------------------------------------------------------------
Table
------------------------------------------------------------------------*/

#sp-ov-dg-table{
	background-image:url(../images/sp-ov-dg-background.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	color:#494949;
	margin-bottom:20px;
	line-height:normal;
	margin-top:-10px;
	width:626px;
	height:181px;
}

.sp-ov-dg-td-col-01{width:170px;}
.sp-ov-dg-td-col-02{width:159px;}
.sp-ov-dg-td-col-03{width:105px;}
.sp-ov-dg-td-col-04{width:112px;}
.sp-ov-dg-td-row-01{height:35px;}
.sp-ov-dg-td-row-02, .sp-ov-dg-td-row-04{height:47px;}
.sp-ov-dg-td-row-03{height:52px;}

#sp-ov-dg-table-label{
	color:#ffffff;
	background-color:inherit;
}

/*-----------------------------------------------------------------------
Lists
------------------------------------------------------------------------*/

ul.sp-submenu{
	width:309px;
	height:auto;
	position:relative;
	float:left;
	border-top:1px solid #d2d2d2;
	border-left:1px solid #d2d2d2;
	list-style-type:none;
	background-color:#dedede;
	margin-bottom:35px;
}

.sp-submenu li a{
	display: block;
	width:292px;
	height:27px;
	position:relative;
	float:left;
	border-bottom:1px solid #d2d2d2;
	list-style-type:none;
	background-color:#dedede;
	padding:6px 0px 0px 17px;
	text-decoration: none;
}

.sp-submenu li a.activeitem{
	background-color:#e2e2e2;
	border-bottom:1px solid #ebebeb;
	color:#494949;
	font-weight:bold;
}

.sp-submenu li a:hover{
	color:#494949;
	text-decoration:none;
	background-color:#dadada;
}

.sp-submenu li a.activeitem:hover{
	color:#494949;
	text-decoration:none;
	background-color:#e2e2e2;
}

ul.bl-submenu{
	width:309px;
	height:auto;
	position:relative;
	float:left;
	border-top:1px solid #363636;
	border-left:1px solid #363636;
	list-style-type:none;
	background-color:#2d2d2d;
	margin-bottom:35px;
}

.bl-submenu li.heading h3{
	font-size:12px;
	color:#ffffff;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:-3px;
	padding:0px;
	line-height:normal;
	background-color:inherit;
}

.bl-submenu li.heading{
	width:292px;
	height:21px;
	padding:12px 0px 0px 17px;
	position:relative;
	float:left;
	border-bottom:1px solid #363636;
	list-style-type:none;
}

.bl-submenu li a{
	display: block;
	width:292px;
	height:27px;
	position:relative;
	float:left;
	border-bottom:1px solid #363636;
	list-style-type:none;
	background-color:#2d2d2d;
	padding:6px 0px 0px 17px;
	text-decoration: none;
}

.bl-submenu li a.activeitem{
	background-color:#e2e2e2;
	border-bottom:1px solid #ebebeb;
	color:#494949;
	font-weight:bold;
}

.bl-submenu li a:hover{
	color:#ffffff;
	text-decoration:none;
	background-color:#202020;
}

.bl-submenu li a.activeitem:hover{
	color:#ffffff;
	text-decoration:none;
	background-color:#e2e2e2;
}

.bl-post-item li, .bl-post-main li{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	list-style-type:none;
	padding-bottom:20px;
	border-bottom:1px solid #c8d0d2;
	margin-bottom:16px;
}

.bl-post-main li.nospace{
	margin-bottom:0px;
	padding-bottom:0px;
	border:none;
}

.bl-post-main li p{
	padding-bottom:22px;
}

.bl-post-item li img, .bl-post-main li img{
	border:1px solid #cbcbcb;
	margin-bottom:26px;
	margin-top:26px;
}

ul.bl-post-info, ul.bl-post-info-top{
	float:left;
}

.bl-post-info li, .bl-post-info-top li{
	width:auto;
	margin-right:10px;
	position:relative;
	float:left;
	list-style-type:none;
	border:none;
	overflow:visible;
	border-left:1px solid #9ca5a9;
	padding-left:8px;
}

.bl-post-info li.noborder, .bl-post-info-top li.noborder{
	border-left:none;
	padding-left:0px;
}

ul.bl-usercomments, .bl-addcomment{
	width:626px;
	height:auto;
	margin-top:16px;
	padding-top:36px;
	border-top:1px solid #c8d0d2;
	position:relative;
	float:left;
}

.bl-usercomments li{
	width:626px;
	height:auto;
	position:relative;
	float:left;
	border:none;
}

.bl-usercomments li img{
	border:none;
	padding:0px;
	margin:0px;
}

.ge-sidebar li{
	width:291px;
	list-style-type:none;
	margin-bottom:35px;
}

li.ge-sidebar-twitter{
	margin-top:-20px;
}

.ge-sidebar-signup p{
	width:291px;
	padding-top:12px;
	border-top:1px solid #c8d0d2;
	margin-top:12px;
}

ul.ge-sidebar-quicklinks{
	float:left;
	padding-top:12px;
	border-top:1px solid #c8d0d2;
	margin-top:12px;
	margin-bottom:35px;
}

.ge-sidebar-quicklinks li{
	width:132px;
	list-style-type:none;
	margin:0px 0px 2px 0px;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 9px;
	padding-left:13px;
}

.ge-sidebar-quicklinks li a:hover{
	color:#df4e15;
	background-image:url(../images/ge-global-link-dotted.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
}

.sp-he-he-bullet li{
	width:613px;
	list-style-type:none;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 9px;
	padding-left:13px;
	margin-bottom:26px;
}

.in-intro li, .sp-intro li{
	width:291px;
	height:auto;
	list-style-type:none;
	position:relative;
	float:left;
	margin-right:44px;
	margin-bottom:60px;
}

.sp-intro-right li, .sp-intro-left li{
	width:291px;
	height:auto;
	list-style-type:none;
	position:relative;
	float:left;
	margin-bottom:60px;
}

.in-intro li.right, .sp-intro li.right{
	margin-right:0px;
}

.in-intro li.bottom, .sp-intro li.bottom, .sp-intro-right li.bottom{
	margin-bottom:20px;
}

.sp-intro-left li.bottom{
	margin-bottom:4px;
}

.in-intro li img, .sp-intro li img{
	margin-bottom:20px;
}

.in-intro li p, .sp-intro li p, .sp-intro-right li p{
	width:291px;
	border-top:1px solid #c8d0d2;
	padding-top:10px;
	margin-top:10px;
}

.sp-intro-left li h2{
	width:291px;
	border-bottom:1px solid #c8d0d2;
	padding-bottom:10px;
}

.sp-intro-left li p{
	width:291px;
	padding-top:10px;
	padding-bottom:16px;
}

ul.in-bar-buttons-list{
	width:286px;
}

.in-bar-buttons-list li{
	width:129px;
	height:33px;
	list-style-type:none;
	position:relative;
	float:left;
	margin-right:14px;
}

ul.sp-title-btn-list{
	width:286px;
}

.sp-title-btn-list li{
	width:129px;
	height:33px;
	list-style-type:none;
	position:relative;
	float:left;
	margin-left:14px;
}

ul.sp-he-he-bullet{
	padding-bottom:26px;
}

.sp-he-he-paginate li{
	list-style-type:none;
	position:relative;
	float:left;
	margin-left:4px;
}

.ge-footer-column{
	width:960px;
	height:203px;
	list-style-type:none;
	position:relative;
	float:left;
	color:#707283;
}

.ge-footer-column .ge-footer-blog{
	width:387px;
	height:203px;
	padding:0px 22px 0px 0px;
	overflow:hidden;
	float:left;
	position:relative;
}

ul#ge-twitter-item{
	margin-top:16px;
}

ul.ge-vartro-item{
	margin-top:10px;
}

.ge-twitter-date{
	width:81px;
	height:19px;
	color:#898b9a;
	font-size:10px;
	text-transform:uppercase;
	background-image:url(../images/ge-button-set.gif);
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:-101px -113px;
	line-height:19px;
	text-align:center;
	margin-bottom:6px;
}

.ge-footer-column .ge-footer-twitter{
	width:196px;
	height:203px;
	padding:0px 23px 0px 23px;
	float:left;
	position:relative;
}

#ge-twitter-item li{
	width:196px;
	height:60px;
	position:relative;
	float:left;
	list-style-type:none;
	margin-bottom:9px;
	font-size:11px;
	line-height:16px;
	overflow:hidden;
}

.ge-twitter-follow{
	width:196px;
	height:auto;
	position:relative;
	float:left;
}

.ge-footer-column .ge-footer-vartro{
	width:287px;
	height:203px;
	padding:0px 0px 0px 22px;
	float:left;
	position:relative;
}

.ge-vartro-item li{
	width:287px;
	height:auto;
	position:relative;
	float:left;
	list-style-type:none;
}

ul.ge-copyright-links{
	width:686px;
	height:35px;
	position:relative;
	float:left;
	padding-top:11px;
}

.ge-copyright-author{
	color:#707283 !important;
}

.ge-copyright-links li{
	width:auto;
	list-style-type:none;
	margin-right:15px;
	float:left;
}

.sp-pr-panel li{
	width:626px;
	height:160px;
	position:relative;
	float:left;
	list-style-type:none;
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:0px 30px;
	overflow:hidden;
	margin-top:14px;
}

.sp-pr-image{
	width:196px;
	height:160px;
	position:relative;
	float:left;
}

.sp-pr-text{
	width:260px;
	height:108px;
	position:relative;
	float:left;
	padding-top:52px;
}

.sp-pr-text h2{
	color:#5c789b;
	background-color:inherit;
}

.sp-pr-text p{
	padding-top:10px;
}

.sp-pr-text p.nopadtop{
	padding-top:0px;
}

.sp-pr-price-frame{
	width:170px;
	height:130px;
	position:relative;
	float:left;
	padding-top:30px;
}

.sp-pr-price{
	width:129px;
	height:54px;
	position:relative;
	float:left;
	padding-left:23px;
	padding-top:18px;
}

.sp-pr-order{
	width:129px;
	height:25px;
	position:relative;
	float:left;
	padding-left:23px;
	padding-top:18px;
}

.sp-blue-bar{
	width:614px;
	height:30px;
	border-bottom:1px solid #4c6380;
	background-color:#5c789b;
	position:relative;
	float:left;
	padding-top:15px;
	padding-left:12px;
	margin-top:30px;
}

.sp-blue-bar h2{
	color:#ffffff;
	background-color:inherit;
}

ul.sp-pr-benefits{
	border-bottom:1px solid #d2d2d2;
	padding-bottom:30px;
	margin-bottom:28px;
	position:relative;
	float:left;
}

.sp-pr-benefits li{
	width:162px;
	height:90px;
	position:relative;
	float:left;
	list-style-type:none;
	margin-right:19px;
	padding-left:34px;
	margin-top:30px;
}

.sp-pr-benefits li.nomarginright{
	margin-right:0px;
}

.sp-pr-assistance{
	width:556px;
	height:107px;
	position:relative;
	float:left;
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:0px -141px;
	padding:24px 35px; 
}

.sp-pr-assistance p{
	padding-top:10px;
}

.sp-pr-benefits-optimisation{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:0px -298px;
}

.sp-pr-benefits-turnaround{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:-196px -298px;
}

.sp-pr-benefits-seo{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:0px -388px;
}

.sp-pr-benefits-crossbrowser{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:-196px -388px;
}

.sp-pr-benefits-commented{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:0px -497px;
}

.sp-pr-benefits-support{
	background-image:url(../images/sp-pr-button-set.gif);
	background-repeat:no-repeat;
	background-position:-196px -497px;
}

.sp-content-rhs-generic p{
	padding-bottom:22px;
}

.sp-content-rhs-generic-small p{
	padding-bottom:22px;
	font-size:11px;
	line-height:16px;
}

.subcolumn2 li{
	list-style-type:none;
	width:300px;
	position:relative;
	float:left;
	padding-right:13px;
	margin-bottom:46px;
}

.subcolumn2 li.subcolumn2-last{
	padding-left:13px;
	padding-right:0px;
}

.subcolumn2-projectdetails li{
	list-style-type:none;
	width:180px;
	position:relative;
	float:left;
	padding-right:13px;
	margin-bottom:40px;
}

.subcolumn2-projectdetails li.subcolumn2-projectdetails-last{
	width:420px;
	padding-left:13px;
	padding-right:0px;
}

.subcolumn3 li{
	list-style-type:none;
	width:190px;
	position:relative;
	float:left;
	padding-right:28px;
}

.subcolumn3 li.subcolumn3-last{
	padding-right:0px;
}

.ge-ov-ho-steps li{
	float:none;
	width:405px;
	list-style-type:none;
	margin-bottom:8px;
	padding-right:0px;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 8px;
	padding-left:15px;
}

.ge-re-gi-benefits li{
	width:345px;
	list-style-type:none;
	margin-bottom:8px;
	padding-right:0px;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 8px;
	padding-left:15px;
}

ul.ge-re-gi-benefits{
	position:relative;
	float:right;
}

ul.ge-terms{
	padding-bottom:16px;
}

.ge-terms li{
	float:none;
	width:611px;
	list-style-type:none;
	margin-bottom:8px;
	padding-right:0px;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 6px;
	padding-left:15px;
	font-size:11px;
	line-height:16px;
}

/*-----------------------------------------------------------------------
Buttons + Icons
------------------------------------------------------------------------*/

.ge-button-set{
	background-image:url(../images/ge-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
}

.ge-order a span, .ge-learn a span, .ge-order-2 a span, .ge-learn-2 a span, 
.sp-he-he-web a span, .sp-he-he-iphone a span, .sp-he-he-mobile a span,
.sp-pr-ordernow a span{
	display:none;
}

.ge-order a, .ge-learn a, .ge-order-2 a, .ge-learn-2 a,
.sp-he-he-web a, .sp-he-he-iphone a, .sp-he-he-mobile a,
.sp-pr-ordernow a{
	display:block;
	width:100%;
	height:100%;
	text-decoration: none;
}

.ge-order a:hover, .ge-order a:active, .ge-learn a:hover, .ge-learn a:active,
.ge-order-2 a:hover, .ge-order-2 a:active, .ge-learn-2 a:hover, .ge-learn-2 a:active{
	background-image:url(../images/ge-button-set.gif);
}

.ge-order{
	width:129px;
	height:33px;
	background-position:-8px -7px;
}

.ge-order a:hover{
	background-position:-8px -40px;
}

.ge-order a:active{
	background-position:-8px -73px;
}

.ge-learn{
	width:129px;
	height:33px;
	background-position:-142px -7px;
}

.ge-learn a:hover{
	background-position:-142px -40px;
}

.ge-learn a:active{
	background-position:-142px -73px;
}

.ge-order-2{
	width:129px;
	height:33px;
	background-position:-276px -7px;
}

.ge-order-2 a:hover{
	background-position:-276px -40px;
}

.ge-order-2 a:active{
	background-position:-276px -73px;
}

.ge-learn-2{
	width:129px;
	height:33px;
	background-position:-410px -7px;
}

.ge-learn-2 a:hover{
	background-position:-410px -40px;
}

.ge-learn-2 a:active{
	background-position:-410px -73px;
}

.ge-cards{
	width:146px;
	height:21px;
	background-position:-101px -140px;
	float:right;
}

.bl-button-set{
	background-image:url(../images/bl-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
}

.bl-rss{
	width:97px;
	height:20px;
	background-position:-324px -13px;
}

.bl-rss a{
	display:block;
	width:100%;
	height:100%;
	text-decoration: none;
}

.bl-rss a:hover{
	background-image:url(../images/bl-button-set.gif);
	background-position:-324px -39px;
}

.bl-rss a span{
	display:none;
}

.bl-avatar-image{
	width:80px;
	height:80px;
	position:relative;
	float:left;
	background-position:-435px -14px;
	border:1px solid #c8d0d2;
	margin-bottom:6px;
}

.bl-message-profile{
	width:486px;
	position:relative;
	float:right;
	margin-top:20px;
}

.bl-button-set-social{
	background-image:url(../images/bl-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-left:8px;
}

.bl-social-digg a, .bl-social-delicious a, .bl-social-twitterme a, .bl-social-stumbleupon a,
.bl-social-facebook a, .bl-social-reddit a, .bl-social-technorati a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.bl-social-digg a:hover, .bl-social-delicious a:hover, .bl-social-twitterme a:hover, .bl-social-stumbleupon a:hover,
.bl-social-facebook a:hover, .bl-social-reddit a:hover, .bl-social-technorati a:hover{
	background-image:url(../images/bl-button-set.gif);
}

.bl-social-digg{
	background-position:-591px -164px;
}

.bl-social-digg a:hover{
	background-position:-559px -164px;
}

.bl-social-delicious{
	background-position:-591px -183px;
}

.bl-social-delicious a:hover{
	background-position:-559px -183px;
}

.bl-social-twitterme{
	background-position:-591px -202px;
}

.bl-social-twitterme a:hover{
	background-position:-559px -202px;
}

.bl-social-stumbleupon{
	background-position:-591px -221px;
}

.bl-social-stumbleupon a:hover{
	background-position:-559px -221px;
}

.bl-social-facebook{
	background-position:-591px -240px;
}

.bl-social-facebook a:hover{
	background-position:-559px -240px;
}

.bl-social-reddit{
	background-position:-591px -259px;
}

.bl-social-reddit a:hover{
	background-position:-559px -259px;
}

.bl-social-technorati{
	background-position:-591px -278px;
}

.bl-social-technorati a:hover{
	background-position:-559px -278px;
}

.bl-social-digg a span, .bl-social-delicious a span, .bl-social-twitterme a span, .bl-social-stumbleupon a span,
.bl-social-facebook a span, .bl-social-reddit a span, .bl-social-technorati a span{
	display:none;
}

.sp-button-set{
	background-image:url(../images/sp-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
}

.sp-he-he-web{
	width:38px;
	height:30px;
	background-position:-7px -107px;
}

.sp-he-he-iphone{
	width:38px;
	height:30px;
	background-position:-49px -107px;
}

.sp-he-he-mobile{
	width:38px;
	height:30px;
	background-position:-91px -107px;
}

.sp-he-he-web a:hover, .sp-he-he-iphone a:hover, .sp-he-he-mobile a:hover{
	background-image:url(../images/sp-button-set.gif);
}

.sp-he-he-web a:hover{
	background-position:-7px -137px;
}

.sp-he-he-iphone a:hover{
	background-position:-49px -137px;
}

.sp-he-he-mobile a:hover{
	background-position:-91px -137px;
}

.sp-he-he-web a:active{
	background-position:-7px -167px;
}

.sp-he-he-iphone a:active{
	background-position:-49px -167px;
}

.sp-he-he-mobile a:active{
	background-position:-91px -167px;
}

.sp-pr-button-set{
	background-image:url(../images/sp-pr-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
}

.sp-pr-ordernow{
	width:129px;
	height:28px;
	background-position:-491px -297px;
}

.sp-pr-ordernow a:hover{
	background-image:url(../images/sp-pr-button-set.gif);
	background-position:-491px -325px;
}

.sp-pr-ordernow a:active{
	background-position:-491px -353px;
}

/*-----------------------------------------------------------------------
Forms
------------------------------------------------------------------------*/

.ge-signup-input-bg, .ge-signup-input-bg-focus{
	width:200px;
	height:30px;
	background-image:url(../images/ge-button-set.gif);
	float:left;
	position:relative;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:-101px -171px;
}

.ge-signup-input-bg-focus{
	background-image:url(../images/ge-button-set.gif);
	background-position:-101px -207px;
}

input.ge-signup-input{
	width:184px;
	height:30px;
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#646f73;
	padding:0px 8px 0px 8px;
}

.ge-signup-form-frame input.error{
	background-image:url(../images/ge-button-set.gif);
	background-position:-311px -171px;
}

.ge-signup-form-frame{
	width:291px;
	height:auto;
	position:relative;
	float:left;
}

.ge-signup-form-frame button{
	width:84px;
	height:29px;
	background-image:url(../images/ge-button-set.gif);
	background-repeat:no-repeat;
	background-position:-8px -113px;
  	cursor:pointer;
  	float:right;
	position:relative;
	overflow:hidden;
}

.ge-signup-form-frame button:hover{
	background-image:url(../images/ge-button-set.gif);
	background-position:-8px -142px;
}

.ge-signup-form-frame button:active{
	background-position:-8px -171px;
}


button span{
	display:none;
}

.ge-signup-form-frame label{
	float:left;
	width:291px;
	padding-top:10px;
	padding-bottom:6px;
}

.sp-he-form-frame label{
	font-weight:bold;
	float: left;
	width: 291px;
	padding-top:18px;
	padding-bottom: 6px;
}

.sp-he-form-frame label.nopad{
	padding-top:0px;
}

.bl-search-bg, .bl-search-bg-focus{
	width:277px;
	height:30px;
	position:relative;
	float:left;
	background-repeat:no-repeat;
	overflow:hidden;
}

.sp-pr-or-form-frame label{
	font-weight:bold;
	float: left;
	width: 428px;
	padding-top:18px;
	padding-bottom:6px;
	color:#5c789b;
	background-color:inherit;
}

input.sp-pr-or-input, input.sp-pr-or-input-focus{
	width:412px;
	height:30px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	padding:0px 7px 0px 7px;
}

input.sp-pr-or-input-focus{
	background-color:#c4d9e3;
}


textarea.sp-pr-or-textarea, textarea.sp-pr-or-textarea-focus{
	width:412px;
	height:120px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	font-size:12px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	padding:7px 7px 0px 7px;
	margin-bottom:32px;
	overflow:hidden;
}

textarea.sp-pr-or-textarea-focus{
	background-color:#c4d9e3;
}

.sp-pr-or-dropdown-list li{
	float:left;
	width:426px;
	list-style-type:none;
	border-bottom:1px solid #d2d2d2;
	padding-top:14px;
	height:45px;
}

.sp-pr-or-label{
	position:relative;
	float:left;
	width:182px;
	height:41px;
	padding-left:6px;
	padding-top:4px;
	color:#5c789b;
	background-color:inherit;
}

.sp-pr-or-dropdown{
	float:left;
	width:172px;
	height:45px;
}

.sp-pr-or-price{
	width:50px;
	padding-right:6px;
	position:relative;
	float:right;
	text-align:right;
	color:#494949;
	height:41px;
	padding-top:4px;
	font-weight:bold;
}

.sp-pr-or-button{
	width:418px;
	height:36px;
	position:relative;
	float:left;
	border:1px solid #c5c5c5;
	background-color:#cfd1d4;
	margin-bottom:20px;
	margin-top:28px;
	padding:8px 8px 0px 0px;
}

.bl-search-bg{
	background-image:url(../images/bl-button-set.gif);
	background-position:-14px -14px;
}

.bl-search-bg-focus{
	background-image:url(../images/bl-button-set.gif);
	background-position:-14px -69px;
}

input.bl-search-input{
	width:229px;
	height:30px;
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#9ba5a8;
	padding:0px 40px 0px 8px;
	
}

#searchform button{
	display:none;
}

textarea.bl-message-addcomment-input{
	width:438px;
	height:130px;
	background-color:transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	color:#47484c;
}

input.bl-input, input.bl-input-focus{
	width:468px;
	height:31px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	margin-bottom:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#646f73;
	padding:0px 8px 0px 8px;
}

input.bl-input-focus{
	background-color:#c4d9e3;
}

.bl-message-profile label{
	float:left;
	width:468px;
	padding-bottom:6px;
}

.bl-addcomment-form-frame button{
	width:119px;
	height:29px;
	background-image:url(../images/bl-button-set.gif);
	background-repeat:no-repeat;
	background-position:-528px -13px;
  	cursor:pointer;
  	float:right;
	position:relative;
	overflow:hidden;
}

.bl-addcomment-form-frame button:hover{
	background-image:url(../images/bl-button-set.gif);
	background-position:-528px -42px;
}

.bl-addcomment-form-frame button:active{
	background-position:-528px -71px;
}

.sp-he-form-frame button{
	width:119px;
	height:29px;
	background-image:url(../images/sp-button-set.gif);
	background-repeat:no-repeat;
	background-position:-7px -6px;
  	cursor:pointer;
  	float:right;
	position:relative;
	overflow:hidden;
	margin-bottom:25px;
}

.sp-he-form-frame button:hover{
	background-image:url(../images/sp-button-set.gif);
	background-position:-7px -35px;
}

.sp-he-form-frame button:active{
	background-position:-7px -64px;
}

.sp-pr-or-form-frame button{
	width:119px;
	height:29px;
	background-image:url(../images/sp-button-set.gif);
	background-repeat:no-repeat;
	background-position:-132px -6px;
  	cursor:pointer;
  	float:right;
	position:relative;
	overflow:hidden;
}

.sp-pr-or-form-frame button:hover{
	background-image:url(../images/sp-button-set.gif);
	background-position:-132px -35px;
}

.sp-pr-or-form-frame button:active{
	background-position:-132px -64px;
}

input.sp-he-input, input.sp-he-input-focus{
	width:275px;
	height:30px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	padding:0px 7px 0px 7px;
}

input.sp-he-input-focus{
	background-color:#c4d9e3;
}

textarea.sp-he-textarea, textarea.sp-he-textarea-focus{
	width:275px;
	height:166px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	padding:7px;
	line-height:22px;
	margin-bottom:21px;
	overflow:hidden;
}

textarea.sp-he-textarea-focus{
	background-color:#c4d9e3;
}

select.sp-he-select{
	width:259px;
}

/*
select.sp-he-select, select.sp-he-select-focus{
	width:291px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	padding:7px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
}

select.sp-he-select-focus{
	background-color:#c4d9e3;
}
*/

option.sp-he-dropdown{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:7px;
}


select.sp-pr-or-select{
	width:172px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	padding:7px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
}

/*-----------------------------------------------------------------------
Uploadify
------------------------------------------------------------------------*/

#sp-pr-or-queue{
	width:426px;
	min-height:122px;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	overflow:auto;
	position:relative;
	float:left;
	background-image:url(../images/sp-pr-or-queue-background.gif);
	background-repeat:no-repeat;
	background-position:center 20px;
}

.sp-pr-or-uploadify-buttons{
	width:202px;
	height:28px;
	position:relative;
	float:right;
	margin-bottom:30px;
	margin-top:8px;
}

.sp-pr-or-browse{
	width:89px;
	height:28px;
	position:relative;
	float:left;
	margin-left:12px;
	overflow:hidden;
}

.sp-pr-or-upload{
	width:89px;
	height:28px;
	background-image:url(../images/sp-pr-or-button-set.gif);
	background-repeat:no-repeat;
	background-position:-104px -101px;
	position:relative;
	float:left;
	margin-left:12px;
}

.sp-pr-or-upload a{
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}

.sp-pr-or-upload a span{
	display:none;
}

.sp-pr-or-upload a:hover{
	background-position:-104px -129px;
	background-image:url(../images/sp-pr-or-button-set.gif);
}

.sp-pr-or-upload a:active{
	background-position:-104px -157px;
}

.uploadifyQueueItem{
	font-size:11px;
	color:#546d8c;
	background-color:#ced8e5;
	width:390px;
	height:42px;
	padding:14px 18px 0px 18px;
	border-bottom:1px solid #eeefef;
	line-height:normal;
}

.uploadifyError{
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}

.uploadifyQueueItem .cancel{
	float:right;
}

.uploadifyProgress{
	background-color:#eeeeee;
	margin-top:8px;
	width:100%;
}

.uploadifyProgressBar{
	background-color:#5c789b;
	width:1px;
	height:3px;
}

/*-----------------------------------------------------------------------
Select
------------------------------------------------------------------------*/

.jqTransformSelectWrapper {
	width: 172px;
	position:relative;
	height:30px;
	background-color:#dddfe0;
	border-top:1px solid #aeafb0;
	border-right:1px solid #d2d4d4;
	border-bottom:1px solid #ededed;
	float:left;
	cursor:pointer;
}

.jqTransformSelectWrapper div span {
	width:100%;
	display:block;
	border-left:1px solid #d2d4d4;
	background-color:#dddfe0;
	padding:7px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#646f73;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	cursor:pointer;
	line-height:normal;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: relative;
	float:right;
	width: 31px;
	height: 31px;
	background-image:url(../images/ge-dropdown-arrow.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.jqTransformSelectWrapper ul {
	position: absolute;
	width: 43px;
	top: 30px;
	left: 0px;
	list-style: none;
	background-color: #000;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	height: 150px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	overflow-x:hidden;
}

.jqTransformSelectWrapper li{
	padding:0px;
	margin:0px;
	height:auto;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #FFF;
	font-size: 12px;
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background-color:#5c789b;
	color: #fff;
	background-image:none;
}

.jqTransformHidden {display: none;}

/*-----------------------------------------------------------------------
Navigation
------------------------------------------------------------------------*/

ul#nav{
	background:url(../images/ge-navigation.gif);
}

ul#nav li{
	float:left;
	list-style-type:none;
}

ul#nav li a{
	height:24px;
	display:block;
	position:absolute;
	text-indent:-9999px;
	outline:none;
	overflow:hidden;
}

li#navOverview a, li#navPricing a, li#navRewards a, li#navHelpDesk a, li#navBlog a{
	background:url(../images/ge-navigation.gif);
}

li#navOverview a{ background-position:0 0; width:82px; left:0px;}
li#navOverview a:hover{ background-position:0 -24px;}
body#pageOverview li#navOverview a{ background-position:0 -48px;}

li#navPricing a{ background-position:-95px 0; width:67px; left:95px;}
li#navPricing a:hover{ background-position:-95px -24px;}
body#pagePricing li#navPricing a{ background-position:-95px -48px;}

li#navRewards a{ background-position:-175px 0; width:75px; left:175px;}
li#navRewards a:hover{ background-position:-175px -24px;}
body#pageRewards li#navRewards a{ background-position:-175px -48px;}

li#navHelpDesk a{ background-position:-263px 0; width:83px; left:263px;}
li#navHelpDesk a:hover{ background-position:-263px -24px;}
body#pageHelpDesk li#navHelpDesk a{ background-position:-263px -48px;}

li#navBlog a{ background-position:-384px 0; width:32px; left:384px;}
li#navBlog a:hover{ background-position:-384px -24px;}
body#pageBlog li#navBlog a{ background-position:-384px -48px;}

/*-----------------------------------------------------------------------
Images
------------------------------------------------------------------------*/

.ov-sp-au-img{margin:0px 0px 20px 0px;}
.ov-sp-ma-img-01{margin:0px 0px 46px 40px;}
.ov-sp-ma-img-02{margin:20px 0px 60px 0px;}
.ov-sp-ma-img-03{margin:0px 46px 46px 0px;}
.ov-sp-ma-img-04, .ov-sp-ma-img-05{margin:0px 0px 20px 0px;}
.ov-sp-ma-img-06{margin:0px 0px 46px 38px;}
.ov-sp-ma-img-07{margin:0px 38px 66px 0px;}
.ov-sp-ma-img-08{margin:20px 0px 46px 0px;}
.ov-sp-ho-img-01{margin:0px 38px 46px 0px;}
.ov-sp-ho-img-02{margin:0px 0px 20px 0px;}
.ov-sp-ho-img-03{margin:0px 0px 46px 38px;}
.ov-sp-ho-img-04{margin:0px 38px 0px 0px;}
.ov-sp-ho-txt-01{margin:0px 0px 30px 0px;}
.ov-sp-de-img-01{margin:-20px 0px 38px 0px;}
.ov-sp-we-img-01{margin:-20px 0px 36px 0px;}
.ov-sp-we-img-02{margin:0px 0px 46px 38px;}
.ov-sp-we-img-03, .ov-sp-we-img-04{margin:0px 0px 20px 0px;}
.ov-sp-we-txt-01{margin:0px 0px 20px 0px;}
.ov-sp-ip-img-01{margin:-20px 0px 36px 0px;}
.ov-sp-ip-img-02{margin:20px 0px 20px 0px;}
.ov-sp-ip-img-02-1{margin:-10px 0px 0px 0px;}
.ov-sp-ip-img-03{margin:0px 38px 46px 0px;}
.ov-sp-ip-img-04{margin:0px 0px 46px 38px;}
.ov-sp-ip-txt-01{margin:0px 0px 30px 0px;}
.ov-sp-ip-txt-02{margin:0px 0px 36px 0px;}
.ov-sp-mo-img-01{margin:-20px 0px 36px 0px;}
.ov-sp-mo-img-02{margin:0px 38px 46px 0px;}
.ov-sp-mo-txt-01{margin:0px 0px 30px 0px;}
.ov-sp-dg-txt-01{margin:0px 0px 36px 0px;}
.re-sp-gi-img-01{margin:0px 20px 20px 0px;}
.re-sp-gi-txt-01{margin:0px 0px 36px 0px;}

/*-----------------------------------------------------------------------
Blog
------------------------------------------------------------------------*/


.bl-bullets li{
	width:613px;
	list-style-type:none;
	border:none;
	margin-bottom:0px;
	background-image:url(../images/ge-sidebar-arrow.gif);
	background-repeat:no-repeat;
	background-position:0px 9px;
	padding-left:13px;
	padding-bottom:16px;
}

.bl-table{
	width:626px;
	background-color:#cccccc;
	border-collapse:collapse;
}

.bl-table td{
	background-color:#eeeeee;
	padding:9px;
	border-spacing: 0 1px;
	border-bottom:1px solid #e2e2e2;
	vertical-align:top;
}

td.bl-table-title{
	color:#ffffff;
	background-color:#5c789b;
}

.bl-100409-col-1{
	width:215px;
}

.bl-100409-col-2{
	width:131px;
}

.bl-100409-col-3{
	width:106px;
}

.bl-100409-col-4{
	width:97px;
}

.bl-post-main li .bl-100619-image{
	border:none;
	margin:0px;
	float:left;
}

.bl-100619-col-1{
	width:129px;
}

.bl-100619-col-2{
	width:400px;
}

/*-----------------------------------------------------------------------
Feed Burner
------------------------------------------------------------------------*/

.feedburnerFeedBlock{
	margin-top:16px;
}

.feedburnerFeedBlock ul li{
	padding:0px;
	float:left;
	position:relative;
	height:64px;
	margin-bottom:28px;
	overflow:hidden;
}

.feedburnerFeedBlock ul li div{
	position:relative;
	width:387px;
	top:44px;
}

.feedburnerFeedBlock ul{
	padding:0px;
}

.headline{
	position:absolute;
	width:387px;
	top:22px;
	left:0px;
}

.date{
	width:81px;
	height:19px;
	color:#898b9a;
	font-size:10px;
	text-transform:uppercase;
	background-image:url(../images/ge-button-set.gif);
	position:absolute;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:-101px -113px;
	line-height:19px;
	text-align:center;
	margin-bottom:6px;
}

#creditfooter{
	display:none;
}
