@charset "utf-8";

@import "style_1280.css";

@media only screen and (max-width:1280px),
only screen and (max-device-width:1280px)
{
    /*caselist.html*/
    .component-caselist-content{height:590px;}
    .component-caselist-text{position:fixed; width:35%;}
    .component-caselist-img{width:65%;}
    .component-caselist-img .pc-img{display:inline-block;}
    .component-caselist-img .pad-img{display:none;}
    .component-caselist-img .phone-img{display:none;}

    /*about.html*/
    .ai-pagebanner{margin-left:-640px;}
    .ai-bannerarrow{padding-bottom:33px; background-size:30px 33px;}


    .ai-banner2000,.companyInfoPhone{display:none;}
    .ai-banner1280{display:block;}
    .ai-banner1024{display:none;}
    .ai-about-info{font-size:14px; line-height:26px;}
    .ai-about-info strong{font-size:16px;}


    .ai-about-structureText{width:224px; height:42px; padding:40px 0 30px; background:url(../images/about/text01.png) no-repeat 0 40px;}
    .ai-about-structureChart{width:760px; height:365px; background-size:760px 365px;}
    .ai-about-intro h3{padding:50px 0 30px; font-size:22px;}
    .ai-about-intro h3 span{padding-bottom:8px;}
    .ai-about-intro h3 strong{padding-bottom:4px;}
    .ai-about-intro h4{font-size:14px; font-weight:bold; color:#fff;}
    .ai-about-intro p{line-height:22px;}
    .ai-contact-phoneIco{display:inline-block; width:56px; height:56px; border-radius:28px; background:#e33f4a; font-size:22px; line-height:56px;font-family:"font-icons"; text-align:center; color:#fff; cursor:pointer;}
    .ai-contact-phone{padding-top:40px; padding-bottom:25px;}
    .ai-contact-phone strong{padding-top:15px;}
    /*团队活动*/
    .department h2{
        font-size:24px;
        line-height:38px;
        color:#fff;
    }
    .department p{
        font-size:12px;
        line-height:28px;
        color:#fff;
        padding:0 0 12px;
    }
    .department span{
        width:38px;
        height:47px;
        padding:4px 8px;
        display:block;
        border:2px solid #fff;
    }
    .department span b,
    .department span i{
        display:inline-block;
        width:100%;
        text-align:left;
    }
    .department span b{
        font-family:"Arial";
        font-size:18px;
        line-height:26px;
        color:#fff;
        font-weight:normal;
    }
    .department span i{
        font-family:"Arial";
        font-size:14px;
        line-height:20px;
        color:#fff;
    }

    @-webkit-keyframes aboutPic2 {
        from { opacity:0; -webkit-transform:translate3d(270px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic3 {
        from { opacity:0; -webkit-transform:translate3d(180px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic4 {
        from { opacity:0; -webkit-transform:translate3d(90px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic5 {
        from { opacity:0; -webkit-transform:translate3d(0px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic6 {
        from { opacity:0; -webkit-transform:translate3d(-90px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic7 {
        from { opacity:0; -webkit-transform:translate3d(-180px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }
    @-webkit-keyframes aboutPic8 {
        from { opacity:0; -webkit-transform:translate3d(-270px,-90px,0px);}
        to { opacity:1; -webkit-transform:translate3d(0,0,0);}
    }

    /*virtual*/
    .pagebanner-height{height:543px;}

    .ai-pagebanner-3D{height:543px;;}
    .virtualbanner-ani{position:absolute; top:100px; left:50%; width:1060px; height:330px; margin-left:-530px; z-index:1;}
    .virtualbanner-pic{width:550px; height:330px;}
    .virtualbanner-pic0{bottom:-30px; right:5px; width:80px; height:60px;}
    .virtualbanner-pic1{top:-100px; left:-340px; width:1440px; height:537px;}
    .virtualbanner-pic2{top:28px; right:12px; width:215px; height:30px;}
    .virtualbanner-pic3{top:125px; right:-35px; width:160px; height:70px;}
    .virtualbanner-pic4{top:145px; right:5px; width:170px; height:125px; }
    .virtualbanner-pic5{top:190px; right:140px; width:145px; height:96px; }
    .virtualbanner-pic6{top:135px; left:-65px; width:140px; height:22px; }
    .virtualbanner-text{top:45px;}
    .virtualbanner-tex2{font-size:52px;}
    .virtualbanner-tex4{font-size:38px;}

    .virtualbanner-text{top:45px; width:410px; height:235px;}
    .virtualbanner-tex1{width:247px; height:192px; }
    .virtualbanner-tex2{top:105px; font-size:52px;}
    .virtualbanner-tex3{top:160px; font-size:18px;}
    .virtualbanner-tex4{top:175px; font-size:38px;}
    .virtualbanner-tex5{top:225px;}


    .ai-virtual-solution{height:650px; background:url(../images-bg01@1280.png) no-repeat center 40px;}
    .ai-virtual-featurecon{width:36.7%;}
    .ai-virtual-featuretext{width:74.5%}
    .ai-virtual-featuretext.pos1, .ai-virtual-featuretext.pos2, .ai-virtual-featuretext.pos3{left:-80%;}
    .ai-virtual-featuretext.pos4, .ai-virtual-featuretext.pos5, .ai-virtual-featuretext.pos6{right:-80%;}
    .ai-virtual-casecon{width:93.75%;}

    .pagebanner-about-con{bottom:80px; width:630px; margin-left:-315px; height:80px;}
    .pagebanner-about-text{top:20px; width:445px; line-height:30px;}
    .pagebanner-about-text h3{font-size:20px;}
    .pagebanner-about-text h4{font-size:14px;}
    .pagebanner-about-ico{top:15px; right:100px; width:65px; height:60px;}


}