<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <title>
            {$title}
        </title>
        <script src="{JS_PATH}jquery.min.js" type="text/javascript">
        </script>
        <script src="{JS_PATH}demo.js" type="text/javascript">
        </script>
        <link type="text/css" rel="stylesheet" href="{CSS_PATH}demo.css"
        />
    </head>
    
    <body>
        <div class="head">
            <div class="tab">
                <div class="td_l">
                    <h1>
                        <a href="{$url}">
                            {$title}
                        </a>
                        -效果演示
                    </h1>
                </div>
                <div class="td_r">
                    <a href="{$url}">
                        购买模板
                    </a>
                    <a target="_blank" href="{qq_url()}">
                        联系客服
                    </a>
                </div>
            </div>
            <div class="bg">
            </div>
            <div class="list">
			   {loop $photo $n $r}
			   
                <a  {if $n==0}class="on"{/if} href="javascript:void(0);" dimg="{$r[url]}">
                    {$r[alt]}
                </a>
				{/loop}
                 
            </div>
            <div class="cl">
            </div>
        </div>
        <div class="xgt">
            <img class="demo" src="{$photo[0][url]}" title=" {$photo[0][alt]}" alt=" {$photo[0][alt]}"
            />
        </div>
    </body>

</html>