{template "content","header"}
<link type="text/css" rel="stylesheet" href="{CSS_PATH}code.css">


         
     <div class="constr Main2 fix">

	      <div class="m_T1nl">
					<span>
						<div style="float: left;">
							当前位置：
						</div>

						<a href="{siteurl($siteid)}">首页</a>

						&gt;

						{catpos($catid)}

					   

						{$title}
					</span>
				</div>


		     
      </div>



        
     <div class="constr Main2 fix">

	          
<div id="l1">
	<div class="nav-left">
		<dl>
			<dt>常用工具<a href="/" target="_blank">&#8250;&#8250;</a></dt>
             <dd><a href="/htmljs/" target="_blank">HTML/JS互转工具</a></dd>
             <dd><a href="/daxiaoxie/" target="_blank">字母大小写转换工具</a></dd>
             <dd><a href="/cssformat/" target="_blank">CSS代码格式化工具</a></dd>
             <dd><a href="/jsformat/" target="_blank">JS/HTML格式化工具</a></dd>
             <dd><a href="/fantizizhuanhuanqi/" target="_blank">繁体字转换器</a></dd>
			 <dd><a href="/huoxingwenzhuanhuanqi/" target="_blank">火星文转换器</a></dd>
			 <dd><a href="/software/tuxiang/6552.html" target="_blank">Color Cop取色软件</a></dd>
			 <dd><a href="/software/shiyong/6017.html" target="_blank">CSS样式图片下载助手</a></dd>
			 <dd><a href="/pinyin/" target="_blank">汉字转拼音工具</a></dd>
		</dl>
	</div>
	 
	 
</div><!-- /l1 -->
	
<div id="m">
	 
	<div class="slogan">
	    <span class="js"></span>
	    <div class="text">化繁为简，我们帮助您更好的运用代码。给你的代码都是选之又选，懒人图库拒绝滥竽充数！<br /><a href="http://baike.baidu.com/view/2160733.htm" target="_blank">什么是JS代码？</a> 　<a href="http://baike.baidu.com/view/1020297.htm" target="_blank">什么是jquery？</a> 　<a href="http://baike.baidu.com/view/951383.htm" target="_blank">什么是HTML5？</a>
	    </div>
	</div>
	<div class="list-pngjs clearfix">
		<dl>
		   {pc:content action="lists" catid="$catid" num="18" order="id DESC" page="$page"}
		     {loop $data $v}
			<dd><a href="{$v[url]}" target="_blank"><img alt="{$v[title]}" src="{$v[thumb]}" />{$v[title]}</a><span>焦点图</span></dd> 
			 {/loop}
			{/pc}


		</dl>
	</div>
	 
    <!--
	<div class="dede_pages">
		 {$page}
	</div>
	-->
    
	 
</div><!-- /m -->

<div id="r">
	 
<div class="nav-sub">
	 <dl>
		<dt class="jx"><span>广告代码</span><div></div><a href="/js/p1.html">全部››</a></dt>
		{pc:content action="category" catid="17" num="25" siteid="$siteid" order="listorder ASC"}

		 {loop $data $cat}
		    <dd><a href="{$cat[url]}">{$cat[catname]}</a></dd> 
		 {/loop}

		  {/pc}
	 </dl>	
</div>

<div class="nav-sub">
<dl>
<dt class="tx"><span>特效代码</span><div></div><a href="/js/texiao.html">全部››</a></dt>
<dd><a href="/js/nav.html">导航菜单</a></dd><dd><a href="/js/form.html">表单按钮</a></dd><dd><a href="/js/text.html">文字特效</a></dd><dd><a href="/js/table.html">表格图层</a></dd><dd><a href="/js/picture.html">图片特效</a></dd><dd><a href="/js/date.html">时间日期</a></dd><dd><a href="/js/scroll.html">滚动代码</a></dd><dd><a href="/js/window.html">窗口特效</a></dd><dd><a href="/js/color.html">颜色背景</a></dd><dd><a href="/js/website.html">网站常用</a></dd><dd><a href="/js/css.html">CSS样式</a></dd><dd><a href="/js/other.html">其他特效</a></dd>				 
</dl>	
</div>
	 		
	<div class="h">
		 <dl>
			<dt>猜你也喜欢看这些 ······ </dt>
			<dd><a href="/js/xiangce-1203.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>简约jQuery幻灯片相册代码<span class="l">相册代码</span><span class="t">2015-07-03</span></a></dd><dd><a href="/js/tupian-1202.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>jQuery图片列表动画显示效果<span class="l">图片特效</span><span class="t">2015-07-03</span></a></dd><dd><a href="/js/jiaodiantu-1201.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>猎豹jQuery全屏焦点图代码<span class="l">焦点图</span><span class="t">2015-05-22</span></a></dd><dd><a href="/js/tupian-1200.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>CSS3圆形图片鼠标经过旋转效果<span class="l">图片特效</span><span class="t">2015-05-22</span></a></dd><dd><a href="/js/qita-1199.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>HTML5+CSS3音量调节旋转按钮<span class="l">其他代码</span><span class="t">2015-05-18</span></a></dd>
		 </dl>	
	</div>
	 
	<div class="h">
		 <dl>
			<dt>这些是最新的...</dt>
			<dd><a href="/js/css-1178.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>CSS布局：上中下三栏自适应高度CSS布局<span class="l">CSS样式</span><span class="t">2015-01-19</span></a></dd><dd><a href="/js/text-1065.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>JS仿黑客帝国字母掉落效果<span class="l">文字特效</span><span class="t">2014-06-25</span></a></dd><dd><a href="/js/text-1064.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>HTML5模仿骇客帝国文字矩阵效果<span class="l">文字特效</span><span class="t">2014-06-25</span></a></dd><dd><a href="/js/website-1057.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>404页面已经被外星人绑架了<span class="l">网站常用</span><span class="t">2014-06-12</span></a></dd><dd><a href="/js/date-980.html"><p><img src="{IMG_PATH}2zzt_logo.png" class="f"/></p>javascript显示年月日时间代码<span class="l">时间日期</span><span class="t">2013-05-08</span></a></dd>
		 </dl>	
	</div>
     
     
</div><!-- /r -->
		      

     </div>


 

 
{template "content","footer"}