<!doctype html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <link rel="stylesheet" type="text/css" media="screen" href="{CSS_PATH}cool/common.css" class="cssfx"/>
  
	 
   
	 
 
<link href="{CSS_PATH}tool/style_13_tools_unicode.css" rel="stylesheet" />
 


  <script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
 
<script type="text/javascript" src="{JS_PATH}tool/common.js"></script>
<script type="text/javascript" src="{JS_PATH}tool/escape.js"></script>
 
 	 
</head>

<body>

<div id="wrap" class="tool">
    <div id="header">
	    <div class="header_con">
		    <div id="logo"><a title="" href="javascript:;"></a></div>


            <div class="nav">
          <ul>
			 <li><a href="/">首页</a></li>
      {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
      
	     {loop $data $cat}
      <li><a href="{$cat[url]}">{$cat[catname]}</a></li>
	  {/loop}
	     {/pc}
       
          </ul>
       </div>

			 
		 
			
			<div id="tool">	
							<a href="javascript:;">登录</a> | <a href="javascript:;">注册</a>
			 </div>
			
		</div>
	</div>
    

	<!----body-------------->
	<div id="navbar" class="cl">
    <a href="index.php?m=content&c=index&a=lists&catid=15" class="first">前端神器</a>
	<a >JavaScript/CSS代码压缩<i></i></a>
    </div>
<div id="updateTips">您的浏览器版本太低，可能会导致部分工具无法正常使用，建议您 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或使用 <a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank">Chrome</a>、<a href="http://firefox.com.cn/download/" target="_blank">FireFox</a>、<a href="http://www.opera.com/" target="_blank">Opera</a> 浏览。</div>
        
         <ul id="tabs">
            <li class="active">ESCAPE</li>
        </ul>
        <div class="content">
            <div id="code" class="textbox">
                <div><textarea id="codeinp">将代码粘贴在此进行即可加解密！</textarea></div>
            </div>
            <div class="btnbar cl">
            	<a id="btclear" class="btns" href="javascript:void(0);" hidefocus="true">清空</a>
                <a id="btencode" class="btns kl" href="javascript:void(0);" hidefocus="true">加密</a>
                <a id="btdecode" class="btns kr" href="javascript:void(0);" hidefocus="true">解密</a>
                <a id="btcopy" class="btns hilite" href="javascript:void(0);" hidefocus="true">复制</a>
            </div>
        </div>
		<!------body-------->
 
	 
</div>

 
